body {
	background-image: url('../imagenes/Fondo-Formularios.gif');
	background-size: 100%;
	background-repeat: no-repeat;
}

.error{
    color:rgb(238, 14, 14);
    font-size: 8px;
}

#cabecera{
	background: rgb(25, 30, 71);
	color: white;
    height: 70px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
.error {
	border: 1px solid red;
}

.p {
	display: block !important;
	color: red;
}

#form {
	background-color: rgba(224, 231, 228, 0.6);
	border-radius: 20px;
	width: 500px;
	padding: 60px 80px;
	margin-right: 50%;
	margin-left: 20%;
	margin-top: 80px;
	color: rgb(85, 47, 4);
}

h1{
	text-align: center;
}

td {
	padding-top: 50px;
	padding-right: 15px;
}

#crear, #cancelar {
	width: 100px;
	margin: 10px;

}

#btn {
	text-align: center;
}

