
.error{
    color:rgb(238, 14, 14);
    font-size: 8px;
}

#cabecera{
	background: rgb(25, 30, 71);
	color: white;
    height: 70px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

.registro{

	margin: 2% 5%;
    width: 700px;
    position: absolute;
    top: 50%;
	left: 50%;
	border: 2px solid #0a3f26;
    transform: translate(-50%,-50%);
    background: #2090b3;
	text-align: center;
	padding: 20px 10px;
	outline: none;
	border-radius: 25px;
    transition: 0.50s;
    float: left;
}

body {
	
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #4d7fb1;
	
	/*font-family: 'Courier New', Courier, monospace;*/
	font-size: 1em;
    line-height: 1.5em;
    padding-top: 100px; /* Relleno superior igual a la altura de la cabecera*/
    width: 150%;
	max-width: 400px;
	margin: 5px auto;
	box-shadow: 0 0 10px rgb(0,0,0,.1);
}


input[type="text"], input[type="password"]{
	border-radius: 200px;
	background: #4cd2f3;

}
input ,label{
	margin-left: 5px;
   }
form {
    display: inline-block;
    text-align: center;
    background-color: rgb(205, 241, 241)
}

#pie {
    background: rgb(25, 30, 71);
    width: 100%;
	color:white;
	text-align: left;
	padding: 20px;
	margin-top: 40px;
}
#pie1 {
	margin: 0;
}
#pie2 {
	margin: 0;
}
