@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    margin: 0;
    padding: 0;
}
#titulo{
    text-align: center;
    padding: 30px 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(24, 22, 22);
    word-spacing: 2px;
    letter-spacing: 2px;
}
.main{
    position: absolute;
    border-style: solid;
    background: rgba(47, 116, 121, 0.863)  ;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body{
    height: 120vh;
    background: linear-gradient(to right,#6c8075,#6c8075);
}

.button{
    width: 108px;
    height: 80px;
    font-size: 20px;
    margin: 1px;
    cursor: pointer;
    border: none;
    color: rgb(248, 244, 244);
    background: #2e3f3eb6 ; 
    font-family: 'Source Sans Pro', sans-serif;
}

.numero{
    font-size: 25px; !important
    font-family: sans-serif;
    font-weight: bolder;
}

#pantalla{
    width: 430px;
    margin: 5px 5px;
    font-size: 40px;
    height: 150px;
    padding: 5px;
    color: rgb(17, 17, 17);
    text-align:  right;
    background-attachment: fixed;
    border-style: none;
    background: rgba(48, 43, 43, 0.1);
}

.button:hover{
	background:linear-gradient(to right,rgb(23, 85, 66),#04232e);
	color: ;
}