body {
	background-image: url('../JS_Validaciones/imagenes/Fondo-Formularios.gif');
	background-size: 100%;
	background-repeat: no-repeat;
}

.error{
    color:rgb(238, 14, 14);
    font-size: 8px;
}

.error {
	border: 1px solid red;
}

.p {
	display: block !important;
	color: red;
}

#form {
	background-color: rgba(224, 231, 228, 0.6);
	border-radius: 20px;
	width: 500px;
	padding: 60px 80px;
	margin-right: 50%;
	margin-left: 30%;
	margin-top: 50px;
	color: rgb(85, 47, 4);
}

h1{
	text-align: center;
	margin-top: 10px;
}

td {
	padding-top: 50px;
	padding-right: 15px;
}

#crear, #cancelar {
	width: 100px;
	margin: 10px;

}

#btn {
	text-align: center;
}
form {
    width: 400px;
    margin: auto;
    background: rgba(0,0,0,.2);
    padding:80px 60px;
    margin-top:20px;
    border-radius: 10px;

}
